.hidden {
    display: none;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#chat-page {
    width:350px;
    height:600px;
    position:absolute;
    margin-left:5px;
    display:inline-block;
}

#guess-window-open-id{
    margin-left:250px;
}

#currentUsers{
    margin-left:350px;
    position:absolute;
    display:inline-block;
}

#draw{
    display:inline-block;
}

#drawing{
    width:600px;
    height:600px;
}

.chat-container {
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height:100%;
}

#chat-page ul {
    list-style-type: none;
    margin: auto;
    overflow-y: scroll;
    padding: 0 20px 0 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 26px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    text-align: center;
}

#chat-page .event-message p {
    color: #343a40;
    font-size: 17px;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    left: 10px;
    font-size: 18px;
    line-height: 42px;
    color: #f8f9fa;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #1d2124;
    font-weight: 600;
}


#messageForm .input-group button {
    width: 80px;
    margin-left: 0;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
}

#table{
    text-align: center;
}

#timer2{
    margin-left: 43%;
}

#guess-button-id-1{
    width: 266px;
}

#guess-button-id-2{
    width: 266px;
}

#guess-button-id-3{
    width: 266px;
}

#red{
    border-radius: 50%;
}

#green{
    border-radius: 50%;
}

#blue{
    border-radius: 50%;
}

#yellow{
    border-radius: 50%;
}

#black{
    border-radius: 50%;
}

.form-signin{
    width: 300px;
    height: 300px;
    margin: auto;
    padding-top: 15%;
}