<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Dictionary Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body class="text-center">
    <form class="form-signin" th:action="@{/dictionary}" th:object="${dictionary}" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Add some new words</h1>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter any word" aria-describedby="dictionaryHelp" th:field="*{value}"/>
            <small id="dictionaryHelp" class="form-text text-muted">на данный момент в базе <span th:utext="${count}"></span> слов</small>
            <label th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>